@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono:400);

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 16px auto 16px auto;
    max-width: 900px;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}


/*------------------- HEADER -------------------*/
.header{
    padding: 32px;
    border-bottom: solid;
    border-top: solid;
    text-transform: uppercase;
}
.header > .text{
    margin: 0 auto 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
}


/*------------------- MAIN BODY -------------------*/
.section{
    margin: 8px 4px 8px 4px;
}
.section .title{
    font-weight: 400;
    font-size: 20px;
}
.section .btn{
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    margin-right: 8px;
}
.row > input{
    border: solid 1px;
    border-radius: 4px;
    padding: 8px;
}
.row > input[type='text']{
    font-family: "Oxygen Mono", monospace;
    flex-grow: 1;
}
.row > input[type='submit']{
    margin: 0 0 0 4px;
}

/*  TABLE   */
table{
    border-collapse: collapse;
}
thead, th, td{
    border: solid 1px;
}
td, th{
    padding: 4px;
}
th{
    height: 100%;
}
.tableheader{
    display: table;
    height: 100%;
    width: 100%;
}
.field {
    text-transform: uppercase;
}
.meaning {
    font-size: 12px;
    font-weight: 100;
}

/*------------------- FOOTER -------------------*/
.footer {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 4px 8px 4px 16px;
    color: gray;
}
.footer > span{
    float: right;
    font-size: 10px;
}
