<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter Trends</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="text" th:href="home">Twitter Trends</a>
        </div>

        <div class="main">
            <div class="section">
                <div class="title">API REST</div>
                <div class="btn" onclick="window.open('./api/metadata')">Metadata</div>
                <div class="btn" onclick="window.open('./api/trends')">Data</div>
            </div>
            <div class="section">
                <div class="title">Filter</div>
                <form class="row" method="get">
                    <select name="date" id="date">
                        <option th:each="ad: ${availableDates}" th:selected="${ad == selectedDate}"
                                th:value="${ad}" th:text="${ad}"></option>
                    </select>
                    <input th:type="text" id="expression" name="filter" th:value="${query}"/>
                    <input th:type="submit" class="btn" th:value="OK"/>
                    <!-- TODO: icona lente + twitter-->
                </form>
                <div class="error-box" th:text="${errorMsg}"></div>
            </div>
            <div class="section">
                <table>
                    <thead>
                        <th th:each="md: ${metadata}">
                            <div class="table-header">
                                <div class="field" th:text='${md.get("field")}'></div>
                                <div class="meaning" th:text='${md.get("meaning")}'></div>
                            </div>
                        </th>
                    </thead>
                    <tbody>
                        <tr th:each="t: ${trends}">
                            <td th:text="${t.country}"></td>
                            <td th:text="${t.countryCode}"></td>
                            <td th:text="${t.name}"></td>
                            <td th:text="${t.parentid}"></td>
                            <td th:text="${t.placeType.code + ' - ' + t.placeType.name}"></td>
                            <td>
                                <a th:href="${t.url}" th:text="${t.url}"></a>
                            </td>
                            <td th:text="${t.woeid}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <span>Manuel Mariani, OOP course at UNIVPM 2019/20</span>
        </div>
    </div>
</body>
</html>