<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter Trends</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="text">Twitter Trends</div>
        </div>

        <div class="main">
            <div class="section">
                <div class="title">API REST</div>
                <div class="btn" onclick="window.open('./api/metadata')">Metadati</div>
                <div class="btn" onclick="window.open('./api/trends')">Dati</div>
            </div>
            <div class="section">
                <div class="title">Filtra</div>
                <div class="row">
                    <input th:type="text"/>
                    <div class="btn">OK</div>
                    <!-- TODO: icona lente + twitter-->
                </div>
            </div>
            <div class="section">
                <table>
                    <thead>
                        <th>Nazione</th>
                        <th>Cod.Nazione</th>
                        <th>Nome</th>
                    </thead>
                    <tbody>
                        <tr th:each="t: ${trends}">
                            <td th:text="${t.country}"></td>
                            <td th:text="${t.countryCode}"></td>
                            <td th:text="${t.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <span>Progetto per Programmazione ad Oggetti, di Manuel Mariani AA:19/20</span>
        </div>
    </div>
</body>
</html>